absl-py==0.2.2
astor==0.6.2
backcall==0.1.0
bleach==3.1.4
decorator==4.3.0
Django
django-rest-framework
djangorestframework
gast==0.2.0
grpcio==1.12.1
h5py==2.8.0
html5lib==0.9999999
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==2.6.11
nltk==3.4.5
numpy==1.14.4
parso
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
Pygments==2.7.4
pytz==2018.4
PyYAML
scikit-learn==0.19.1
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.8.0
tensorflow
termcolor==1.1.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.3
